
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      function isOwner() {
        return request.auth.uid == userId;
      }

      allow get: if isOwner();
      allow list: if false;

      allow create: if isSignedIn() && isOwner() && request.resource.data.id == userId;
      allow update: if isSignedIn() && isOwner() && request.resource.data.id == userId;
      allow delete: if isSignedIn() && isOwner() && resource != null;

        match /learning_journeys/{journeyId} {
          allow get: if isOwner();
          allow list: if isOwner();

          allow create: if isSignedIn() && isOwner();
          allow update: if isSignedIn() && isOwner() && resource != null;
          allow delete: if isSignedIn() && isOwner() && resource != null;

            match /topics/{topicId} {
              allow get: if isOwner();
              allow list: if isOwner();

              allow create: if isSignedIn() && isOwner();
              allow update: if isSignedIn() && isOwner() && resource != null;
              allow delete: if isSignedIn() && isOwner() && resource != null;

                match /quizzes/{quizId} {
                  allow get: if isOwner();
                  allow list: if isOwner();

                  allow create: if isSignedIn() && isOwner();
                  allow update: if isSignedIn() && isOwner() && resource != null;
                  allow delete: if isSignedIn() && isOwner() && resource != null;
                }
            }
        }
    }

    // Rules for the curiosity_points collection
    match /curiosity_points/{userId} {
      // A user can get or write to their own document
      allow get, write: if request.auth.uid == userId;
    }

    match /curiosity_points {
        // Any signed-in user can list the collection for the leaderboard
        allow list: if isSignedIn();
    }
  }
}
