
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      function isOwner() {
        return request.auth.uid == userId;
      }

      allow get: if isOwner();
      allow list: if false;

      allow create: if isSignedIn() && isOwner() && request.resource.data.id == userId;
      allow update: if isSignedIn() && isOwner() && request.resource.data.id == userId;
      allow delete: if isSignedIn() && isOwner() && resource != null;

        match /learning_journeys/{journeyId} {
          allow get, list: if isOwner();
          allow create, update, delete: if isSignedIn() && isOwner() && resource != null;

            match /topics/{topicId} {
              allow get, list: if isOwner();
              allow create, update, delete: if isSignedIn() && isOwner() && resource != null;

                match /quizzes/{quizId} {
                  allow get, list: if isOwner();
                  allow create, update, delete: if isSignedIn() && isOwner() && resource != null;
                }
            }
        }
    }

    // A user can get or write to their own document in the curiosity_points collection.
    match /curiosity_points/{userId} {
      allow get, write: if request.auth.uid == userId;
    }

    // Any signed-in user can list the entire curiosity_points collection for the leaderboard.
    match /curiosity_points {
        allow list: if isSignedIn();
    }
  }
}
